node_modules
.env
bin/
test_output.log

# Hardhat files
/cache
/artifacts
/scripts_local
# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
AUDIT_REPORT.md